<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<title>admin</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
<link rel="stylesheet" th:href="@{/css/manage-exam.css}">
<link rel="stylesheet" th:href="@{/assets/css/mystyle.css}">

<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<!-- GOOGLE FONTS -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
	rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
<link rel = "stylesheet" th:href="@{/css/mystyle.css}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/admin/shared/navbar::navbar"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div th:insert="/admin/shared/sidebar::sidebar"></div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="row">
				<div class="col-md-3">
					<div class="panel" style="min-height: 100vh;">
						<div class="panel-heading">
							<div class="panel-title">Danh sách bộ đề</div>
						</div>
						<div class="ml-1 mb-1">
							<a class= "btn btn-success" href="/manage/exam/addpackage">Thêm</a>
							<a class="btn btn-primary" th:href="@{'/manage/exam/editpackage/'+${examPackageID}}">Sửa</a>
							<a class= "btn btn-danger btn-delete" th:href="@{'/manage/exam/deletePackage/'+${examPackageID}}">Xóa</a>
						</div>
						<div th:if="${examPackageList==null}" class="alert alert-warning">Bạn chưa có bộ đề thi nào, bấm 'Thêm' để tạo</div>
						<ul th:unless="${examPackageList==null}" class="list-group pb-3 pt-1">
						
							<th:block th:each="exam : ${examPackageList}">
								<li  th:if="${exam.examPackageID}!=${examPackageID}" class="list-group-item">
									<a th:href="@{'/manage/exam/' + ${exam.examPackageID}}" th:utext="${exam.examPackageTitle}"></a>
								</li>
								
								<li  th:if="${exam.examPackageID}==${examPackageID}" class="list-group-item active">
									<a style="color: #fff;" th:href="@{'/manage/exam/' + ${exam.examPackageID}}" th:utext="${exam.examPackageTitle}"></a>
								</li>
							</th:block>
						</ul>
					</div>
					<!-- PAGINATION -->
					<nav aria-label="Page navigation example" th:if="${packPage.numberOfElements!=0&&packPage!=null}"  style="position: absolute; bottom: 30px;left: 80px;">
					  <ul class="pagination justify-content-center">
					    <li class="page-item" th:if="${packPage.hasPrevious()}">
					      <a class="page-link"  
					      th:href="@{'/manage/exam/'+${examPackageID}+'?packPage='+${packPage.number}}">
					      Previous
					      </a>
					    </li>
					    <li class="page-item disabled" th:if="${!packPage.hasPrevious()}">
					      <a class="page-link">Previous</a>
					    </li>
					    <th:block th:each="i : ${#numbers.sequence(1, packPage.totalPages)}">
					    	<li class="page-item" th:if="${i!=packPage.number+1}">
					    		<a class="page-link" 
					    		th:href="@{'/manage/exam/'+${examPackageID}+'?packPage='+${i}}" 
					    		th:utext="${i}">1</a>
					    	</li>
					    	<li class="page-item active" th:if="${i==packPage.number+1}">
					    		<a class="page-link" 
					    		th:href="@{'/manage/exam/'+${examPackageID}+'?packPage='+${i}}" 
					    		th:utext="${i}">1</a>
					    	</li>
					    </th:block>
					    <li class="page-item" th:if="${packPage.hasNext()}">
					      <a class="page-link" 
					      th:href="@{'/manage/exam/'+${examPackageID}+'?packPage='+${packPage.number+2}}">
					      Next
					      </a>
					    </li>
					    <li class="page-item disabled" th:if="${!packPage.hasNext()}">
					      <a class="page-link">Next</a>
					    </li>
					  </ul>
					</nav>
					
					<!--END PAGINATION -->
				</div>
				<div class="col-md-9">
					<div class="panel" style="min-height: 100vh;">
						<h3 class="ml-1 mt-1" style="font-weight: bold;"
						th:if="${currentPackage!=null}" 
						th:utext="${currentPackage.examPackageTitle}">
						Các đề trong "Đề thi toán học lớp 12 khối không chuyên"
						</h3>
						
						<a th:if="${currentPackage.isPublic==false}" 
						class='btn btn-primary ml-2' 
						th:href="@{'/manage/exam/public/'+${currentPackage.examPackageID}}">Bắt đầu công khai</a>
						
						<a th:if="${currentPackage.isPublic==true}" 
						class='btn btn-warning ml-2' 
						th:href="@{'/manage/exam/public/'+${currentPackage.examPackageID}}">Hủy công khai</a>
						<div class="search-box ml-2 mt-1">
							<h4 style="font-weight: bold;">Danh sách đề</h4>
							<form th:if="${page!=null}" th:action="@{'/manage/exam/'+${examPackageID}+'?page='+${page.number+1}}" method= "get">
								<input type="text" name="key" placeholder="Nội dung cần tìm">
								<input class="btn btn-success" type="submit" value = "Tìm kiếm">
							</form>
							<div class="ml-1 mt-1">
								<a th:href="@{'/manage/exam/addexam/'+${examPackageID}}" class= "btn btn-success">Thêm đề</a>
							</div>
							<form th:if="${page==null}" th:action="@{'/manage/exam/'+${examPackageID}+'?page=1'}" method= "get">
								<input type="text" name="key" placeholder="Nội dung cần tìm">
								<input class="btn btn-success" type="submit" value = "Tìm kiếm">
							</form>
						</div>
						<div class="panel-body">
							<div></div>
							<table class="table" th:if="${examList!=null}">
								<thead>
									<tr>
										<th>Mã đề</th>
										<th>Tiêu đề </th>
										<th> </th>
									</tr>
								</thead>
								<tbody >
									
									<th:block th:each="exam : ${examList}">
										<tr>
											<td th:utext="${exam.examinationID}">1</td>
											<td th:utext="${exam.examinationTitle}">aaa</td>
											<td>
											<a class="btn btn-primary" th:href="@{'/manage/exam/editexam/'+${exam.examinationID}}">Sửa</a>
											<a class="btn btn-danger btn-delete" th:href="@{'/manage/exam/deleteExam/'+${exam.examinationID}}">Xóa</a>
											</td>
										</tr>
									</th:block>
								</tbody>
							</table>
							<!-- PAGINATION -->
							<nav aria-label="Page navigation example" th:if="${page!=null && page.numberOfElements!=0}">
							  <ul class="pagination justify-content-center">
							    <li class="page-item" th:if="${page.hasPrevious()}">
							      <a class="page-link"  
							      th:href="@{'/manage/exam/'+${examPackageID}+'?page='+${page.number}+'&key='+${key}+'&packPage='+${packPage.number+1}}">
							      Previous
							      </a>
							    </li>
							    <li class="page-item disabled" th:if="${!page.hasPrevious()}">
							      <a class="page-link">Previous</a>
							    </li>
							    <th:block th:each="i : ${#numbers.sequence(1, page.totalPages)}">
							    	<li class="page-item" th:if="${i!=page.number+1}">
							    		<a class="page-link" 
							    		th:href="@{'/manage/exam/'+${examPackageID}+'?page='+${i}+'&key='+${key}+'&packPage='+${packPage.number+1}}" 
							    		th:utext="${i}">1</a>
							    	</li>
							    	<li class="page-item active" th:if="${i==page.number+1}">
							    		<a class="page-link" 
							    		th:href="@{'/manage/exam/'+${examPackageID}+'?page='+${i}+'&key='+${key}+'&packPage='+${packPage.number+1}}" 
							    		th:utext="${i}">1</a>
							    	</li>
							    </th:block>
							    <li class="page-item" th:if="${page.hasNext()}">
							      <a class="page-link" 
							      th:href="@{'/manage/exam/'+${examPackageID}+'?page='+${page.number+2}+'&key='+${key}+'&packPage='+${packPage.number+1}}">
							      Next
							      </a>
							    </li>
							    <li class="page-item disabled" th:if="${!page.hasNext()}">
							      <a class="page-link">Next</a>
							    </li>
							  </ul>
							</nav>
							<!-- END PAGINATION -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#qlde').addClass('active');
			$('.btn-delete').click(function(){
				var r = confirm("Bạn chắc chắn muốn xóa chứ");
				if (r == false) {
				  event.preventDefault();
				} 
			})
		})
	</script>
</body>

</html>
