<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<title>admin</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
<link rel="stylesheet" th:href="@{/css/manage-exam.css}">
<link rel="stylesheet" th:href="@{/assets/css/mystyle.css}">

<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<!-- GOOGLE FONTS -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
	rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
<link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/admin/shared/navbar::navbar"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div th:insert="/admin/shared/sidebar::sidebar"></div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="">
				<div class="panel" style="padding: 0 40px;height: 90vh">
					<div class="panel-heading">
						<div class="panel-title" th:utext="@{'Thêm câu hỏi cho gói câu hỏi: ' + ${questionPackage.name}}"></div>
					</div>
					<div class="row">
						<a class="btn btn-info">Thêm bằng file excel</a>
						<form class="col-md-6" th:action="@{'/manage/question/editquestion/'+${question.questionID}}" 
						method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label for="exampleFormControlInput1">Danh sách ảnh</label>
								<div class="alert alert-info" 
								th:if="${question.images== null && question.images.size()==0}">Chưa có ảnh nào!</div>
								<div class="mb-1" style="display: flex;">
									<th:block th:each="image: ${question.images}">
										<div>
											<img th:src="@{'/getQuestionImage/'+${image.url}}"
											style="max-width: 100px;cursor: zoom-in;"
											data-enlargeable
											 />
											 <span 
											 class="btn-delete-image fa fa-times-circle-o fa-2x"
											 th:data-image-id="${image.imageID}"></span>
										</div>
									</th:block>
								</div>
								<input class="mb-1" type="file" name="files" accept="image/png, image/jpeg">
								<input class="mb-1" type="file" name="files" accept="image/png, image/jpeg">
								<input class="mb-1" type="file" name="files" accept="image/png, image/jpeg">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Nội dung câu hỏi</label>
								<input type="text" class="form-control" name = "content" th:value="${question.questionContent}"
									id="exampleFormControlInput1" placeholder="nội dung">
							</div>
							<div>
								<label>
									Số phương án
									<input class="form-control" type="number" value="4">
								</label>
							</div>
							<label>Phương án</label>
							<th:block th:each="answer,itor : ${question.answers}">
								<div style="margin-bottom:10px;">
									<input th:if="${answer.idCorrect}==true" checked="checked" type="checkbox" th:value="${itor.index+1}" name="cb-pa" class="form-check-label">
									<input th:if="${answer.idCorrect}==false" type="checkbox" th:value="${itor.index+1}" name="cb-pa" class="form-check-label">
									
									<input type="text" name ="txt-pa" th:value="${answer.answerContent}"
									style="width:90%;background: #fcfcfc;outline:none; border:#ebebeb solid 1px;box-shadow: 0 0 1px;">
								</div>
							</th:block>
							
							
							<div>
								<button class="btn btn-success">Xác nhận</button>
								<a class="btn btn-secondary">Reset</a>
								<a class="btn btn-danger btn-delete" th:href="@{'/manage/question/deleteQuestion/'+${question.questionID}}">Xóa</a>
							</div>
						</form>
						<div class="col-md-6 mt-1">
							<div>Danh sách câu hỏi</div>
							<div class="d-flex">
								<a class="btn btn-outline-primary" th:href="@{'/manage/question/addquestion/' + ${questionPackage.questionPackageID}}">+</a>
								<th:block th:each="q,itor : ${questionList}">
									<a class="btn btn-primary" th:if="${question.questionID == q.questionID}"
									th:href="@{'/manage/question/editquestion/'+${questionPackage.questionPackageID}+'/'+${q.questionID}}"
									 th:utext="${itor.index+1}">1</a>
									 <a class="btn btn-outline-primary" th:unless="${question.questionID == q.questionID}"
									th:href="@{'/manage/question/editquestion/'+${questionPackage.questionPackageID}+'/'+${q.questionID}}"
									 th:utext="${itor.index+1}">1</a>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#qlch').addClass('active');
			
			$('.btn-delete-image').click(function(){
				var cfm = confirm('Bạn chắc chắc muốn xóa ảnh chứ?');
				if(cfm){
					var imageID = $(this).attr('data-image-id');
					// send data to delete image
					var form = $("<form></form>");
					form.attr('action', '/manage/question/deleteImage/'+imageID);
					form.attr('method','POST');
					$('body').append(form);
					form.submit();
				}
			})

			$('.btn-delete').click(function(){
				var cfm = confirm("Bạn chắc chứ?");

				if(!cfm) event.preventDefault();
			})

		})
		
		//Show full screen image on click
		$('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
		  var src = $(this).attr('src');
		  var modal;
		
		  function removeModal() {
		    modal.remove();
		    $('body').off('keyup.modal-close');
		  }
		  modal = $('<div>').css({
		    background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
		    backgroundSize: 'contain',
		    width: '100%',
		    height: '100%',
		    position: 'fixed',
		    zIndex: '10000',
		    top: '0',
		    left: '0',
		    cursor: 'zoom-out'
		  }).click(function() {
		    removeModal();
		  }).appendTo('body');
		  //handling ESC
		  $('body').on('keyup.modal-close', function(e) {
		    if (e.key === 'Escape') {
		      removeModal();
		    }
		  });
		});
	</script>
</body>

</html>
