<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<title>admin</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
<link rel="stylesheet" th:href="@{/css/manage-exam.css}">
<link rel="stylesheet" th:href="@{/assets/css/mystyle.css}">

<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<!-- GOOGLE FONTS -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
	rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
<link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/admin/shared/navbar::navbar"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div th:insert="/admin/shared/sidebar::sidebar"></div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="">
				<div class="panel" style="padding: 0 40px;min-height: 100vh;">
					<div class="panel-heading">
						<div class="panel-title">Thêm bằng file excel</div>
					</div>
					
					<div class="alert alert-info">
						Tải về file mẫu <a class="btn btn-success" href="/excel/CauHoi.xlsx">Tải xuống</a>
					</div>
					<h3>
						Tải lên:
					</h3>
					<form th:action="@{'/manage/question/addexcel/'+${examPackageID}}" method="post" enctype="multipart/form-data">
						<label>
							Chọn file:
						</label>
						<input type="file" name="excelfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
						<input class="btn btn-success mt-2" type="submit" value="Tải lên">
					</form>
					<div class="alert alert-danger mt-1" th:if="${msgerr!=null}">
						Tải lên thất bại: <span th:utext="${msgerr}"></span>
						<br>
						<div th:if="${msgdetail!=null}">Chi tiết:<span th:utext="${msgdetail}">	</span></div>
					</div>
					<div class="alert alert-success" th:if="${msgsuccess}">
						Tải câu hỏi bằng file excel thành công.
						<br>
						Đã thêm <span th:utext="${msgsuccess}">40</span> câu hỏi.
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#qlch').addClass('active');
		})
	</script>
</body>

</html>
