<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<title>admin</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
<link rel="stylesheet" th:href="@{/css/manage-exam.css}">

<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<!-- GOOGLE FONTS -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
	rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
<link rel = "stylesheet" th:href="@{/css/mystyle.css}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/admin/shared/navbar::navbar"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div th:insert="/admin/shared/sidebar::sidebar"></div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="">
				<div class="panel" style="padding: 0 40px;min-height: 100vh;">
					<div class="panel-heading">
						<div class="panel-title" th:utext="@{Chỉnh sửa đề thi}"></div>
					</div>
					<form th:action="@{'/manage/exam/editexam/'+${exam.examinationID}}" th:object="${exam}" method="post">
						<div class="form-group">
							<label for="exampleFormControlInput1">Tiêu đề của đề thi</label>
							<input type="text" class="form-control"
								id="exampleFormControlInput1" th:field="*{examinationTitle}" placeholder="Tiêu đề">
						</div>
						<div class="myborder p-1 mb-2">
							<label>Chọn gói câu hỏi muốn thêm</label> 
							<div th:if="${examPackageModelList.size()>0}">	
								<th:block th:each="questionPackageModel : ${examPackageModelList}">
									<hr>
									<div> 
										<input type="checkbox" th:value="${questionPackageModel.questionPackageID}" name="questionPackageID" th:checked="${questionPackageModel.checked}"> 
										<span th:utext="@{${questionPackageModel.questionPackageName} + '('+${questionPackageModel.questionSize}+' câu hỏi)'}">Gói toán</span> 
									</div>
								</th:block>
							</div>
							
							<div class="alert alert-info" th:if="${examPackageModelList.size()==0}">
								Bạn chưa có gói câu hỏi nào, <a href="/manage/question" class="badge badge-primary">Tạo ngay</a>
							</div>
						</div>	
						
						<div class="alert alert-success">
						Tổng cộng có : 0 câu hỏi
						</div>
						
						<div class="alert alert-danger">Số câu tối thiểu cần có : <span th:utext="${exam.examPackage.numberOfQuestion}">30</span> </div>
						<div class="mb-3">
							<button class="btn btn-success">Xác nhận</button>
							<button class="btn btn-secondary">Reset</button>
						</div>
					</form>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>
