<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<title>admin</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
<link rel="stylesheet" th:href="@{/css/manage-exam.css}">
<link rel="stylesheet" th:href="@{/assets/css/mystyle.css}">


<link href="/assets/plugins/simplebar/simplebar.css" rel="stylesheet" />
<link href="/assets/plugins/nprogress/nprogress.css" rel="stylesheet" />
<link href='/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css' rel='stylesheet'>
<link href='/assets/plugins/daterangepicker/daterangepicker.css' rel='stylesheet'>
<link href='/assets/plugins/toastr/toastr.min.css' rel='stylesheet'>
<link id="sleek-css" rel="stylesheet" href="/assets/css/sleek.css" />
<link href="/assets/img/favicon.png" rel="shortcut icon" />
<script src="/assets/plugins/nprogress/nprogress.js"></script>

<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
<!-- ICONS -->

<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
<link rel = "stylesheet" th:href="@{/css/mystyle.css}">
<link rel="stylesheet" th:href="@{/css/mailbox.css}"> 
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/admin/shared/navbar::navbar"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div th:insert="/admin/shared/sidebar::sidebar"></div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="container">
			<div class="row">
				<!-- BEGIN INBOX -->
				<div class="col-md-12" style="min-height: 100vh;">
					<div class="grid email" style="min-height: 90vh;">
						<div class="grid-body">
							<h2 style="text-transform:uppercase;">Over view</h2>
							<div class="row">
			                    <div class="col-md-3">
			                      <div class="card card-mini mb-4">
			                        <div class="card-body">
			                          <h2 class="mb-1" th:utext="${totalViews}">71,503</h2>
			                          <p>Tổng số lượt xem</p>
			                          <div class="chartjs-wrapper">
			                            <canvas id="barChart"></canvas>
			                          </div>
			                        </div>
			                      </div>
			                    </div>
			                    <div class="col-md-3">
			                      <div class="card card-mini  mb-4">
			                        <div class="card-body">
			                          <h2 class="mb-1" th:utext="${totalAccount}">9,503</h2>
			                          <p>Tài khoản đã đăng ký</p>
			                          <div class="chartjs-wrapper">
			                            <canvas id="dual-line"></canvas>
			                          </div>
			                        </div>
			                      </div>
			                    </div>
			                    <div class="col-md-3">
			                      <div class="card card-mini mb-4">
			                        <div class="card-body">
			                          <h2 class="mb-1" th:utext="${totalExams}">71,503</h2>
			                          <p>Số bài thi đã tạo</p>
			                          <div class="chartjs-wrapper">
			                            <canvas id="area-chart"></canvas>
			                          </div>
			                        </div>
			                      </div>
			                    </div>
			                    <div class="col-md-3">
			                      <div class="card card-mini mb-4">
			                        <div class="card-body">
			                          <h2 class="mb-1" th:utext="${totalDoExamTimes}">9,503</h2>
			                          <p>Tổng số lượt thi</p>
			                          <div class="chartjs-wrapper">
			                            <canvas id="line"></canvas>
			                          </div>
			                        </div>
			                      </div>
			                    </div>
			                  </div>
			                  <div class="row">
			                  	<div class="col-md-8">
			                      <!-- Sales Graph -->
			                      <div class="card card-default">
			                        <div class="card-header">
			                          <h3>Lượt ghé thăm</h3>
			                          <form action="/manage/overview">
			                          	<select name="year">
				                          	<th:block th:each="i : ${#numbers.sequence( minYear, maxYear, 1)}">
				                          		<option th:unless="${i==selectedYear}" th:value="${i}" th:utext="${i}">2021 </option>
				                          		
				                          		<option th:if="${i==selectedYear}" selected="selected" th:value="${i}" th:utext="${i}">2021 </option>
				                          		
				                          	</th:block>
				                          </select>
				                          <input class="btn btn-info" type="submit" value="OK">
			                          </form>
			                          
			                        </div>
			                        <div class="card-body">
			                          <canvas id="linechart" th:data-linechart-data="${dataLineChart}" 
			                          style="max-height: 200px;" class="chartjs"></canvas>
			                        </div>
			                        <div class="card-footer d-flex flex-wrap bg-white p-0">
			                          <div class="col-6 px-0">
			                            <div class="text-center p-4">
			                              <h4 th:utext="${lineChart.viewSumary}">$6,308</h4>
			                              <p class="mt-2">Tổng lượt truy cập trong năm <span th:utext="${lineChart.year}"></span> </p>
			                            </div>
			                          </div>
			                        </div>
			                      </div>
								</div>
								
								<div class="col-md-4" th:if="${categoryList!=null}">
				                  <!-- Doughnut Chart -->
				                  <div class="card card-default">
				                    <div class="card-header justify-content-center">
				                      <h2>Đề thi theo danh mục</h2>
				                    </div>
				                    <div class="card-body" >
				                      <canvas id="doChart" style="max-height: 160px;" ></canvas>
				                    </div>
				                    <div class="card-footer d-flex flex-wrap bg-white p-0">
				                      <div class="col-md-12">
				                        <div class="py-4 px-4">
				                          <ul class="d-flex flex-column justify-content-between">
				                          	<th:block th:each="category,itor: ${categoryList}")>
				                          		<li>
					                            	<i class="mdi mdi-checkbox-blank-circle mr-2" 
					                            	th:style="@{'color: #000'}"
					                            	></i> 
					                            	<span th:utext="@{${category.categoryName}+ ': ' + ${category.examPackages.size()}}"
					                            	 data-role="category-info"
					                            	 th:data-label="${category.categoryName}" 
					                            	 th:data-index-category="${itor.index}"
					                            	 th:data-color="${myHelper.getRandomHexColor()}"
					                            	 th:data-totalEP="${category.examPackages.size()}"
					                            	 >Toán</span> 
					                            </li>
				                          	</th:block>
				                          </ul>
				                        </div>
				                      </div>
				                    </div>
				                  </div>
								</div>
			                  </div>
						</div>
					</div>
				</div>
				<!-- END INBOX -->
			</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#overview').addClass('active');
		})
	</script>
	
	<script src="/assets/plugins/jquery/jquery.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/plugins/simplebar/simplebar.min.js"></script>
    <script src='/assets/plugins/charts/Chart.min.js'></script>
    <script src='/assets/js/chart.js'></script>
    <script src='/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js'></script>
    <script src='/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js'></script>
    <script src='/assets/js/vector-map.js'></script>
    <script src='/assets/plugins/daterangepicker/moment.min.js'></script>
    <script src='/assets/plugins/daterangepicker/daterangepicker.js'></script>
    <script src='/assets/js/date-range.js'></script>
</body>

</html>
