<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/examlist" class="homebtn" style="font-size: 26px;line-height: 100%;">HOME</a>
			</div>
			<div class="container-fluid">
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="lnr lnr-question-circle"></i> 
							<span>Giúp đỡ</span> 
							<i class="icon-submenu lnr lnr-chevron-down">
							</i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/help">Làm thế nào để làm bài thi?</a></li>
								<li><a href="/help">Làm thế nào để tạo đề thi?</a></li>
								<li><a href="/help">Làm thế nào để tài lên bằng file excel?</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img th:if='${#authentication.getPrincipal().getUrlAvatar()!=null&&!#authentication.getPrincipal().getUrlAvatar().equals("")}'
							th:src="@{'/getimage/'+${#authentication.getPrincipal().getUrlAvatar()}}"
							class="img-circle" alt="Avatar">
							<img th:unless='${#authentication.getPrincipal().getUrlAvatar()!=null&&!#authentication.getPrincipal().getUrlAvatar().equals("")}'
							th:src="@{'https://ui-avatars.com/api/?name='+${#authentication.getPrincipal().getUsername()}}"
							class="img-circle" alt="Avatar"> 
							<span sec:authorize="isAuthenticated()" th:utext ="${#authentication.getPrincipal().getFullname()}"></span>
							<span sec:authorize="!isAuthenticated()">Khách</span>
							<i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="/profile"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="/manage/exam"><i class="lnr lnr-exit"></i> <span>Đề thi của tôi</span></a></li>
								<li><a href="/manage/mailbox"><i class="lnr lnr-envelope"></i> <span>Hộp thư</span></a></li>
								<li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Đăng xuất</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
</body>
</html>