<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="sidebar" id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li sec:authorize="hasRole('ADMIN')">
							<a id="overview" href="/manage/overview"><i class="lnr lnr-user"></i> <span>Tổng quan</span> <span class="badge badge-danger ml-1"> admin</span> </a>
						</li>	
						<li sec:authorize="hasRole('ADMIN')">
							<a id="tk" href="/manage/account"><i class="lnr lnr-user"></i> <span>Quản lý tài khoản</span><span class="badge badge-danger"> admin</span></a>
						</li>
						<li sec:authorize="hasRole('ADMIN')">
							<a id="dm" href="/manage/category"><i class="lnr lnr-user"></i> <span>Quản lý danh mục</span><span class="badge badge-danger"> admin</span></a>
						</li>
						<li sec:authorize="hasRole('ADMIN')">
							<a id="admin-dt" href="/manage/allexam"><i class="lnr lnr-menu-circle"></i> <span>Quản lý đề thi</span><span class="badge badge-danger"> admin</span></a>
						</li>
						<li sec:authorize="hasRole('ADMIN')">
							<a id="admin-ch" href="/manage/allquestion"><span>Quản lý gói câu hỏi</span><span class="badge badge-danger"> admin</span></a>
						</li>
						<li><a href="/manage/exam" id="qlde"><i class="lnr lnr-pencil"></i> <span>Đề thi của tôi</span></a></li>
						<li><a href="/manage/question"  id="qlch"><i class="lnr lnr-question-circle"></i> <span>Câu hỏi của tôi</span></a></li>
						<li><a href="/history" id="ls"><i class="lnr lnr-history"></i> <span>Lịch sử thi</span></a></li>
						<li><a href="/manage/mailbox" id="mail"><i class="lnr lnr-envelope"></i> <span>Hộp thư</span></a></li>
						<li><a href="/profile" id="profile"><i class="lnr lnr-user"></i> <span>Profile</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		
</body>
</html>