@charset "ISO-8859-1";

#background{
	z-index: 10000;
	position:absolute;
	background: rgba(120,120,120,0.5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	}
	
.edit-question{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}

.edit-question .header{
	background: #347ab6;
	color: white;
	text-transform: uppercase;
	padding: 5px;
	
}