<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tìm kiếm nâng cao</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
	<link rel="stylesheet" th:href="@{/css/danhsachde.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/assets/css/main.css}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
	
	<link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/shared/navbar::navbar">
		</div>
		<!-- END NAVBAR -->
		<!-- CONTENT -->
		<div class="container-fluid" id="content">
			<div class="row">
				
				<div class="col-md-9 main-content" >
					
					<div style="width: 100%;background: #ffffff;padding: 15px;box-shadow: 0 2px 6px rgb(0 0 0 / 8%);font-size: 20px;">
						<h2>Tìm kiếm nâng cao</h2>
						<div class="search-box">
						<form action="/examlist/search" method = "get">
							<input type="text" name = "key" placeholder="Từ khóa" style="width: 100%">
							<br>
							<div class="row">
								<div class="col-md-2">
									<label>Tìm theo</label>
									<select class="form-control" name = "findBy">
										<option value = "title">
											Tiêu đề
										</option>
										<option value = "fullname">
											Tên người tạo
										</option>
										<option value = "username">
											Username người tạo
										</option>
									</select>
								</div>
								<div class="col-md-2">
									<label>Danh mục</label>
									<select class="form-control" name="categoryID">
										<option value = "-1">
											Tất cả
										</option>
										<th:block th:each="category: ${categoryList}")>
											<option th:utext="${category.categoryName}" th:value="${category.categoryID}">
											</option>
										</th:block>
									</select>
								</div>
								
								<div class="col-md-2">
									<label>Sắp xếp theo</label>
									<select class="form-control" name = "sortBy">
										<option value = "examPackageTitle">
											Tiêu đề
										</option>
										<option value = "startDatetime">
											Ngày tạo
										</option>
										<option value = "doExamTime">
											Lượt thi
										</option>
									</select>
								</div>
								
								<div class="col-md-2">
									<label>Thứ tự</label>
									<select class="form-control" name="direction">
										<option value = "ASC">
											Tăng dần
										</option>
										<option value = "DESC">
											Giảm dần
										</option>
									</select>
								</div>
								
								<div class="col-md-2" style="margin-top: 34px;	 ">
									<input class="btn btn-success" type="submit" value = "Tìm kiếm">
								</div>
							</div>
						</form>
					</div>
					</div>
					<div class="alert alert-danger" th:if="${examPackageList==null}">
						Không tìm thấy đề thi nào liên quan.
					</div>
					<th:block th:each="exam : ${examPackageList}" th:if="${examPackageList!=null}")>
						<div class="card shadow">
							<h3 th:utext="${exam.examPackageTitle}">Đề thi 1</h3>
							<p th:utext = "${exam.description}">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							</p>
							<div>
								<i class="fas fa-clock" >Thời gian còn lại: 50 phút</i>
								<br>
								<i class="fas fa-question" th:utext="${exam.numberOfQuestion}">Số câu hỏi: 50</i>
								<br>
								<i class="fas fa-user" th:utext = "@{'Người tạo: '+${exam.account.fullname}}">Người tạo: Tèo Văn</i>
								<br>
							</div>
							<a class="btn btn-outline-primary mt-1">Chi tiết</a>
						</div>
					</th:block>
					<!-- PAGINATION -->
					<div class="alert alert-danger" th:if="${page.totalPages==0}" style="width: 100%;margin-top: 12px;">
						Không tìm thấy đề thi nào liên quan.
					</div>
					
					<nav aria-label="Page navigation example" style="width: 100%;" th:if="${page.totalPages>0}">
					  <ul class="pagination justify-content-center">
					  
					    <li class="page-item" th:if="${page.hasPrevious()}">
					      <a class="page-link"  
					      th:href="@{'/examlist/search?key='+${key}+'&findBy='+${findBy}+'&categoryID='+${categoryID}+'&sortBy'+${sortBy}+'&direction='+${direction}+'&page='+${page.number}}">Previous</a>
					    </li>
					    <li class="page-item disabled" th:if="${!page.hasPrevious()}">
					      <a class="page-link">Previous</a>
					    </li>
					    
					    <th:block th:each="i : ${#numbers.sequence(1, page.totalPages)}">
					    
					    	<li class="page-item" th:if="${i!=page.number+1}">
					    		<a class="page-link" th:href="@{'/examlist/search?key='+${key}+'&findBy='+${findBy}+'&categoryID='+${categoryID}+'&sortBy'+${sortBy}+'&direction='+${direction}+'&page='+${i}}" th:utext="${i}">1</a>
					    	</li>
					    	<li class="page-item active" th:if="${i==page.number+1}">
					    		<a class="page-link" th:href="@{'/examlist/search?key='+${key}+'&findBy='+${findBy}+'&categoryID='+${categoryID}+'&sortBy'+${sortBy}+'&direction='+${direction}+'&page='+${i}}" th:utext="${i}">1</a>
					    	</li>
					    
					    </th:block>
					    
					    <li class="page-item" th:if="${page.hasNext()}">
					      <a class="page-link" th:href="@{'/examlist/search?key='+${key}+'&findBy='+${findBy}+'&categoryID='+${categoryID}+'&sortBy'+${sortBy}+'&direction='+${direction}+'&page='+${page.number+2}}">Next</a>
					    </li>
					    
					    <li class="page-item disabled" th:if="${!page.hasNext()}">
					      <a class="page-link">Next</a>
					    </li>
					  </ul>
					</nav>
					<!-- END PAGINATION -->
				</div>
				
				<div class="col-md-3">
				<p>
				<!-- TIMELINE -->
					<div class="panel panel-scrolling">
						<div class="panel-heading">
							<h3 class="panel-title">Cuộc thi sắp diễn ra</h3>
						</div>
						<div class="alert alert-danger" th:if="${examPackageIsCommingList==null || examPackageIsCommingList.size()==0}">
							Chưa có cuộc thi nào sắp diễn ra
						</div>
						<div class="panel-body">
							<ul class="list-unstyled activity-list">
								<th:block th:each="examComming: ${examPackageIsCommingList}">
									<li>
										<img src="assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
										<p th:utext="${examComming.examPackageTitle}"><a th:href="@{'/examdetail/' + ${examComming.examPackageID}}">Thi tiếng anh B1</a> trong khoảng 3 tiếng nữa <span class="timestamp">Văn Tèo</span></p>
									</li>
								</th:block>
							</ul>
							<button type="button" class="btn btn-primary btn-bottom center-block">Hiển thị tất cả</button>
						</div>
					</div>
				<!-- END TIMELINE -->
				<!-- LEADERBOARD -->
					<div th:insert="/shared/leaderboard::leaderboard">
					
					</div>
				<!-- END LEADERBOARD -->
				<!-- TIMELINE -->
					<div class="panel panel-scrolling">
						<div class="panel-heading">
							<h3 class="panel-title">Các hoạt động khác</h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled activity-list">
								<li>
									<img src="assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
									
									<p><a href="#">Văn Tèo</a> đã mở một bài thi<span class="timestamp">20 minutes ago</span></p>
								</li>
								<li>
									<img src="assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
									<p><a href="#">Quân Kun</a> đã mở một đề ôn tập <span class="timestamp">Yesterday</span></p>
								</li>
							</ul>
							<button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
						</div>
					</div>
				<!-- END TIMELINE -->
				</p>
				</div>
			</div>
		</div>
		
		<!-- END CONTENT -->
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
