<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>admin</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
	<link rel="stylesheet" th:href="@{/css/danhsachde.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/exam-detail.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/assets/css/main.css}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
	
	<link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/shared/navbar::navbar">
			
		</div>
		<!-- END NAVBAR -->
		<!-- CONTENT -->
		
		<div class="container-fluid" id="content">
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-6 main-content">
							<ul class="nav nav-tabs">
							  <li class="nav-item">
							    <a class="nav-link active" th:href="@{'/examdetail/'+ ${examPackage.examPackageID}}">Thông tin bài thi</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" th:href="@{'/examleaderboard/'+ ${examPackage.examPackageID}}">Bảng xếp hạng</a>
							  </li>
							</ul>
							<div class="card exam-detail-info" style="width: 100%;text-align: center;height: 75vh;">
								<h3 th:utext="${examPackage.examPackageTitle}">Thi trắc nghiệm toán THPT Chu Văn An</h3>
								<p th:utext="@{'Người tạo: '+${examPackage.account.fullname}}">Người tạo: Lê Viết Hùng</p>
								<p th:utext="@{'Mô tả: '+${examPackage.description}}" th:if="${examPackage.description}!=null">Mô tả: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. Volutpat odio facilisis mauris sit amet massa. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. </p>
								<p th:utext="@{'Số câu hỏi: ' + ${examPackage.numberOfQuestion}}">Số câu hỏi: 50 </p>
								<p>Thời gian còn lại: 1h 20p 38s</p>
								<p th:if="${examPackage.showResults}">Cho phép xem lại đáp án: Có </p>
								<p th:unless="${examPackage.showResults}">Cho phép xem lại đáp án: Không </p>
								<p>Tổng số lượt làm bài: <span th:utext="${examPackage.doExamTime}"></span> </p>
							</div>
						</div>
						<div class="col-md-6 main-content">
							<div class="card exam-detail-info" style="width: 100%;text-align: center;margin-top: 58px;">
								
								<img th:src="@{/images/examdetail.png}">
								
								<label>Lượt làm bài: <span></span> </label>
								<br>
								<a class="btn btn-success" 
								th:href="@{'/doexam/'+${examPackage.examPackageID}}" 
								th:data-packageid="${examPackage.examPackageID}">Bắt đầu lần thi thứ 1</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
				<p>
				<!-- TIMELINE -->
					<div class="panel panel-scrolling">
						<div class="panel-heading">
							<h3 class="panel-title">Cuộc thi sắp diễn ra</h3>
						</div>
						<div class="alert alert-danger" th:if="${examPackageIsCommingList==null || examPackageIsCommingList.size()==0}">
							Chưa có cuộc thi nào sắp diễn ra
						</div>
						<div class="panel-body">
							<ul class="list-unstyled activity-list">
								<th:block th:each="examComming: ${examPackageIsCommingList}">
									<li>
										<img src="assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
										<p th:utext="${examComming.examPackageTitle}"><a th:href="@{'/examdetail/' + ${examComming.examPackageID}}">Thi tiếng anh B1</a> trong khoảng 3 tiếng nữa <span class="timestamp">Văn Tèo</span></p>
									</li>
								</th:block>
							</ul>
							<button type="button" class="btn btn-primary btn-bottom center-block">Hiển thị tất cả</button>
						</div>
					</div>
				<!-- END TIMELINE -->
				<!-- LEADERBOARD -->
					<div th:insert="/shared/leaderboard::leaderboard">
					
					</div>
				<!-- END LEADERBOARD -->
				<!-- TIMELINE -->
					<div class="panel panel-scrolling">
						<div class="panel-heading">
							<h3 class="panel-title">Các hoạt động khác</h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled activity-list">
								<li>
									<img src="/assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
									
									<p><a href="#">Văn Tèo</a> đã tạo một đề thi<span class="timestamp">20 minutes ago</span></p>
								</li>
								<li>
									<img src="/assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
									<p><a href="#">Quân Kun</a> đã tạo một đề thi <span class="timestamp">Yesterday</span></p>
								</li>
							</ul>
							<button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
						</div>
					</div>
				<!-- END TIMELINE -->
				</p>
				</div>
			</div>
		</div>
		
		<!-- END CONTENT -->
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
