<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>admin</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
	<link rel="stylesheet" th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
	<link rel="stylesheet" th:href="@{/css/danhsachde.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/exam-detail.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/assets/css/main.css}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
	
	<link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/shared/navbar::navbar">
			
		</div>
		<!-- END NAVBAR -->
		<!-- CONTENT -->
		
		<div class="container-fluid" id="content">
			<div class="row">
				<div class="col-md-9" id="main-content">
					<ul class="nav nav-tabs">
					  <li class="nav-item">
					    <a class="nav-link" th:href="@{'/examdetail/'+ ${examPackage.examPackageID}}">Thông tin bài thi</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link active" th:href="@{'/examleaderboard/'+${examPackage.examPackageID}}">Bảng xếp hạng</a>
					  </li>
					</ul>
					<div id="exam-detail-info" class="card" style="width: 100%;min-height: 100vh">
						<table class="table">
							<thead>
							    <tr>
							      <th>Người dùng</th>
							      <th>Lần thi</th>
							      <th>Điểm số</th>
							    </tr>
							  </thead>
							  <tbody>
								  <th:block th:each="leaderboard: ${leaderboardList}">
								  	<tr>
								      <td><a href="#" th:utext="${leaderboard.account.fullname}">Lê văn tèo</a></td>
								      <td th:utext="${leaderboard.examTimes}">1</td>
								      <td th:utext="${leaderboard.score}">85</td>
								    </tr>
								  </th:block>
							    </tbody>
						</table>
						
						<nav aria-label="Page navigation example">
						  <ul class="pagination justify-content-center">
						    <li class="page-item disabled">
						      <a class="page-link" href="#" tabindex="-1">Previous</a>
						    </li>
						    <li class="page-item"><a class="page-link" href="#">1</a></li>
						    <li class="page-item"><a class="page-link" href="#">2</a></li>
						    <li class="page-item"><a class="page-link" href="#">3</a></li>
						    <li class="page-item">
						      <a class="page-link" href="#">Next</a>
						    </li>
						  </ul>
						</nav>
					</div>
				</div>
				<div class="col-md-3">
				<p>
				<!-- TIMELINE -->
					<div class="panel panel-scrolling">
						<div class="panel-heading">
							<h3 class="panel-title">Cuộc thi sắp diễn ra</h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled activity-list">
								<li>
									<img src="/assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
									<p><a href="#">Thi tiếng anh B1</a> trong khoảng 3 tiếng nữa <span class="timestamp">Văn Tèo</span></p>
								</li>
								<li>
									<img src="/assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
									<p><a href="#">Thi sinh học lớp 12</a> Trong khoảng 6 tiếng nữa<span class="timestamp">Quân Kun</span></p>
								</li>
								<li>
									<img src="/assets/img/user3.png" alt="Avatar" class="img-circle pull-left avatar">
									<p><a href="#">Quân kun</a> created a new heatmap view <a href="#">Landing Page</a> <span class="timestamp">2 days ago</span></p>
								</li>
							</ul>
							<button type="button" class="btn btn-primary btn-bottom center-block">Hiển thị tất cả</button>
						</div>
					</div>
				<!-- END TIMELINE -->
				<!-- LEADERBOARD -->
					<div class="panel panel-scrolling">
								<div class="panel-heading">
									<h3 class="panel-title">Bảng xếp hạng</h3>
								</div>
								<div class="panel-body">
									<ul class="list-unstyled activity-list">
										<li>
											<div class="top-avatar">
											
											<img src="/assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
											</div>
											
											<p><a href="#">Văn Tèo</a></p>
										</li>
										<li>
											<img src="/assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
											<p><a href="#">Quân Kun</a></p>
										</li>
									</ul>
								</div>
								<button type="button" class="btn btn-primary btn-bottom center-block">Hiển thị tất cả</button>
							</div>
				<!-- END LEADERBOARD -->
				<!-- TIMELINE -->
					<div class="panel panel-scrolling">
						<div class="panel-heading">
							<h3 class="panel-title">Các hoạt động khác</h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled activity-list">
								<li>
									<img src="/assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
									
									<p><a href="#">Văn Tèo</a> đã tạo một đề thi<span class="timestamp">20 minutes ago</span></p>
								</li>
								<li>
									<img src="/assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
									<p><a href="#">Quân Kun</a> đã tạo một đề thi <span class="timestamp">Yesterday</span></p>
								</li>
							</ul>
							<button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
						</div>
					</div>
				<!-- END TIMELINE -->
				</p>
				</div>
			</div>
		</div>
		
		<!-- END CONTENT -->
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
