<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<title>admin</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
<link rel="stylesheet" th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
<link rel="stylesheet" th:href="@{/assets/css/mystyle.css}">
<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link rel="stylesheet" th:href="@{/assets/css/demo.css}">
<!-- GOOGLE FONTS -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
	rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<div th:insert="/shared/navbar::navbar"></div>
		<!-- END NAVBAR -->
		<!-- MAIN -->	
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="container bootstrap snippet">
						<div class="row">
							<div class="col-sm-10">
								<h1 th:utext="${account.fullname}">User name</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<!--left col-->
								<div class="text-center">
									<img  th:if='${account.urlAvatar!=null&&!account.urlAvatar.equals("")}' 
									th:src="@{'/getimage/'+${account.urlAvatar}}"
										class="avatar img-circle img-thumbnail" alt="avatar">
									<img  th:unless='${account.urlAvatar!=null&&!account.urlAvatar.equals("")}' 
									th:src="@{'https://ui-avatars.com/api/?name='+${account.fullname}}" 
									class="avatar img-circle img-thumbnail" alt="avatar">
								</div>
								</hr>
								<div style="text-align: center;margin-top: 10px;">
									<a class="btn btn-success">
									Gửi thư
									</a>
									<a class="btn btn-danger" sec:authorize="hasRole('ADMIN')">
										Khóa tài khoản này
									</a>
								</div>
								<br>
							</div>
							<!--/col-3-->
							<div class="col-sm-9">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#info">Thông
											tin</a></li>
									<li><a data-toggle="tab" href="#changepass">Danh sách đề thi</a></li>
								</ul>


								<div class="tab-content">
									<div class="tab-pane active" id="info">
										<hr>
										<div class="form" action="##" method="post"
											id="registrationForm">
											<div class="form-group">
												<div class="col-xs-6">
													<label for="first_name"><h4 th:utext="@{'Họ và tên: '+${account.fullname}}">Họ và tên: Hoàng Văn Sĩ</h4></label>
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-6">
													<label for="phone"><h4 th:utext="@{'Số điện thoại: '+ ${account.phone}}">Số điện thoại: 0565913856</h4></label> 
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-6">
													<label for="email"><h4 th:utext="@{'Email: '+${account.email}}">Email: HVS@gmail.com</h4></label> 
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-6">
													<label for="gender"><h4 th:utext="@{'Giới tính: '+${account.gender.displayValue}}">Giới tính: Nam</h4></label>
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-6">
													<label for="dob"><h4 th:utext="@{'Ngày sinh: '+${account.dateOfBirth}}">Ngày sinh: 22/2/2000</h4></label>
												</div>
											</div>
										</div>
									</div>
									<!--/tab-pane-->
									<div class="tab-pane" id="changepass">
										<h3>Danh sách đề thi</h3>
										<table
										  data-toggle="table"
										  data-search="true"
										  data-show-columns="true" style="max-height: 60vh; overflow: scroll;">
										  <thead>
										    <tr class="tr-class-1">
										      <th data-field="name" rowspan="2" data-valign="middle">Tên bài thi</th>
										      <th colspan="3">Chi tiết</th>
										    </tr>
										    <tr class="tr-class-2">
										      <th data-field="star">Loại đề</th>
										      <th data-field="forks">Lượt thi</th>
										      <th data-field="description">Mô tả</th>
										    </tr>
										  </thead>
										  <tbody>
										    <tr id="tr-id-1" class="tr-class-1" data-title="bootstrap table" data-object='{"key": "value"}'>
										      <td id="td-id-1" class="td-class-1" data-title="bootstrap table">
										        <a href="https://github.com/wenzhixin/bootstrap-table" target="_blank">bootstrap-table</a>
										      </td>
										      <td data-value="526">8827</td>
										      <td data-text="122">3603</td>
										      <td data-i18n="Description">An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features. (supports twitter bootstrap v2 and v3)
										      </td>
										    </tr>
										    <tr id="tr-id-2" class="tr-class-2">
										      <td id="td-id-2" class="td-class-2">
										        <a href="https://github.com/wenzhixin/multiple-select" target="_blank">multiple-select</a>
										      </td>
										      <td>1615</td>
										      <td>623</td>
										      <td>A jQuery plugin to select multiple elements with checkboxes :)
										      </td>
										    </tr>
										    <tr id="tr-id-3" class="tr-class-3">
										      <td id="td-id-3" class="td-class-3">
										        <a href="https://github.com/wenzhixin/bootstrap-show-password" target="_blank">bootstrap-show-password</a>
										      </td>
										      <td>220</td>
										      <td>85</td>
										      <td>Show/hide password plugin for twitter bootstrap.
										      </td>
										    </tr>
										    <tr id="tr-id-4" class="tr-class-4">
										      <td id="td-id-4" class="td-class-4">
										        <a href="https://github.com/wenzhixin/bootstrap-table-examples" target="_blank">bootstrap-table-examples</a>
										      </td>
										      <td>1734</td>
										      <td>1532</td>
										      <td>Bootstrap Table Examples</td>
										    </tr>
										    <tr id="tr-id-5" class="tr-class-5">
										      <td id="td-id-5" class="td-class-5">
										        <a href="https://github.com/wenzhixin/scutech-redmine" target="_blank">scutech-redmine</a>
										      <td>24</td>
										      <td>18</td>
										      <td>Redmine notification tools for chrome extension.</td>
										    </tr>
										  </tbody>
										</table>
									</div>
									<!--/tab-pane-->
									
								</div>
								<!--/tab-pane-->
							</div>
							<!--/tab-content-->

						</div>
						<!--/col-9-->
					</div>
					<!--/row-->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#profile').addClass('active');
		})
	</script>
</body>

</html>
